<div class="row">
  <div
    class="col-4 tabs"
    (click)="selected = 0; filterCustomerSms()"
    [ngClass]="selected === 0 ? 'tabs-selected' : ''"
  >
    All messages
  </div>
  <div
    class="col-4 tabs"
    (click)="selected = 1; filterCustomerSms()"
    [ngClass]="selected === 1 ? 'tabs-selected' : ''"
  >
    Sent messages
  </div>
  <div
    class="col-4 tabs"
    (click)="selected = 2; filterCustomerSms()"
    [ngClass]="selected === 2 ? 'tabs-selected' : ''"
  >
    Received messages
  </div>
</div>

<div *ngFor="let customer of filteredCustomerSms">
  <div class="row">
    <span
      style="font-size: larger; color: grey; font-weight: bold; float: left"
      >{{ customer.name }}</span
    >

    <div
      class="tag"
      [ngClass]="customer.tag == t.id ? 'selected' : ''"
      *ngFor="let t of tags"
      (click)="selectTag(t, customer)"
    >
      {{ t.name }}
    </div>
    <div *ngIf="saved === customer">
      <i class="fa fa-check" aria-hidden="true"></i>
    </div>
    <div *ngIf="saving === customer">
      <i class="fa fa-spinner" aria-hidden="true"></i>
    </div>
  </div>

  <div *ngFor="let s of customer.all_sms">
    <div class="row" style="margin-top: 10px;">
      <div class="col-6" [ngClass]="s.type === 'incoming' ? 'offset-6' : null">
        <div class="message">
          <i>{{ s.message }}</i>
        </div>
        <div class="status" style="font-weight: bold; font-size: small">
          {{ s.status }} {{ s.created | date: "short" }}
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
