<!-- <div class="row">
  <div
    class="col-4 tabs"
    (click)="selected = 0; filterCustomerSms()"
    [ngClass]="selected === 0 ? 'tabs-selected' : ''"
  >
    All messages
  </div>
  <div
    class="col-4 tabs"
    (click)="selected = 1; filterCustomerSms()"
    [ngClass]="selected === 1 ? 'tabs-selected' : ''"
  >
    Sent messages
  </div>
  <div
    class="col-4 tabs"
    (click)="selected = 2; filterCustomerSms()"
    [ngClass]="selected === 2 ? 'tabs-selected' : ''"
  >
    Received messages
  </div>
</div> -->
<div *ngFor="let customer of filteredCustomerSms">
  <div class="row">
    <div class="col-3">
      <div
        style="cursor: pointer; padding: 4px; float: left;"
        (click)="expand(customer)"
      >
        <i class="fa fa-eye"></i>
      </div>
      <div
        style="font-size: larger; color: grey; font-weight: bold;"
        >{{ customer.name }}
      </div>
      <div style="color: grey;">
        <ng-container *ngIf="customer.street_address">
          {{ customer.street_address }},
        </ng-container>
        <ng-container *ngIf="customer.city">
          {{ customer.city }},
        </ng-container>
        <ng-container *ngIf="customer.state">
          {{ customer.state }},
        </ng-container>
        <ng-container *ngIf="customer.zip_code">
          {{ customer.zip_code }}
        </ng-container>
      </div>
    </div>
    <div class="col-3">
      <div
        class="tag"
        [ngClass]="customer.tag == t.id ? 'selected' : ''"
        *ngFor="let t of tags"
        (click)="selectTag(t, customer)"
      >
        {{ t.name }}
      </div>
      <div *ngIf="saved === customer">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <div *ngIf="saving === customer">
        <i class="fa fa-spinner" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-6" *ngIf="customer != expandCustomer && customer.last_sms">
      <div class="message">
        <i
          *ngIf="customer.last_sms.type === 'incoming'"
          class="fa fa-arrow-down"
        ></i>
        <i
          *ngIf="customer.last_sms.type === 'outgoing'"
          class="fa fa-arrow-up"
        ></i>
        <i>{{ customer.last_sms.message }}</i>
      </div>
      <div class="status" style="font-weight: bold; font-size: small">
        {{ customer.last_sms.status }}
        {{ customer.last_sms.created | date: "short" }}
      </div>
    </div>
  </div>
  <div *ngIf="customer === expandCustomer">
    <div *ngIf="customer.all_sms == null">
      <i class="fa fa-spinner" aria-hidden="true"></i>
    </div>
    <div
      class="row"
      *ngFor="let sms of customer.all_sms"
      style="margin-top: 10px"
    >
      <div
        class="col-6"
        [ngClass]="sms.type === 'incoming' ? 'offset-6' : null"
      >
        <div class="message">
          <i *ngIf="sms.type === 'incoming'" class="fa fa-arrow-down"></i>
          <i *ngIf="sms.type === 'outgoing'" class="fa fa-arrow-up"></i>
          <i>{{ sms.message }}</i>
        </div>
        <div class="status" style="font-weight: bold; font-size: small">
          {{ sms.status }} {{ sms.created | date: "short" }}
        </div>
      </div>
    </div>
  </div>

  <hr />
</div>
