<div *ngIf="loading" class="overlay">
  <div style="position: absolute; top: 50%; font-size: 32px; left: 50%;">Loading ...</div>
</div>
<div class="row">
  <div class="col-4">
    <mat-form-field style="width: 100%">
      <mat-label>Filter by tags</mat-label>
      <mat-select [(value)]="filter.tag" (selectionChange)="updateFilter('tag', $event.value)">
        <mat-option value="ALL">All</mat-option>
        <mat-option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-4">
    <mat-form-field style="width: 100%">
      <mat-label>Show users with</mat-label>
      <mat-chip-list>

        <mat-chip (click)="updateFilter('message', 'all')" [selected]="filter.message === 'all'">All</mat-chip>
        <mat-chip (click)="updateFilter('message', 'no')" [selected]="filter.message === 'no'">No messages</mat-chip>
        <mat-chip (click)="updateFilter('message', 'replied')" [selected]="filter.message === 'replied'">Last Replied</mat-chip>
        <mat-chip (click)="updateFilter('message', 'sent')" [selected]="filter.message === 'sent'">Last sent</mat-chip>

      </mat-chip-list>
    </mat-form-field>

  </div>

  <div class="col-4">
    <mat-form-field style="width: 100%">
      <mat-label>Order by</mat-label>
      <mat-chip-list>
        <mat-chip (click)="updateFilter('order', 'old')" [selected]="filter.order === 'old'">Oldest first</mat-chip>
        <mat-chip (click)="updateFilter('order', 'new')" [selected]="filter.order === 'new'">Newest first</mat-chip>
      </mat-chip-list>
    </mat-form-field>
  </div>

</div>

<div class="row" style="margin-bottom: 10px; padding: 10px; text-align: center; background: rgba(200, 200, 200, 0.4)"  >
  <div class="col-2" style="cursor: pointer;"  [hidden]="pageInformation.current === 1" (click)="page=page-1; loadSms();">
      <i class="fa fa-arrow-left"></i>
    Go back
  </div>
  <div *ngIf="pageInformation.current === 1" class="col-2"></div>
  <div class="col-8" style="text-decoration: underline">
    Showing {{ pageInformation.current }} of {{ pageInformation.pagesLength }} pages.
  </div>
  <div class="col-2" style="cursor: pointer;" [hidden]="pageInformation.pagesLength === pageInformation.current" (click)="page=page+1; loadSms();">
    Go next
    <i class="fa fa-arrow-right"></i>
  </div>

</div>
<div *ngFor="let customer of customerSms">
  <div class="row">
    <div class="col-3">
      <div style="cursor: pointer; padding: 4px; float: left;" (click)="expand(customer)">
        <i class="fa fa-eye"></i>
      </div>
      <div style="font-size: larger; color: grey; font-weight: bold;">{{ customer.name }}
      </div>
      <div style="color: grey;">
        <ng-container *ngIf="customer.street_address">
          {{ customer.street_address }},
        </ng-container>
        <ng-container *ngIf="customer.city">
          {{ customer.city }},
        </ng-container>
        <ng-container *ngIf="customer.state">
          {{ customer.state }},
        </ng-container>
        <ng-container *ngIf="customer.zip_code">
          {{ customer.zip_code }}
        </ng-container>
      </div>
    </div>
    <div class="col-3">
      <div class="tag" [ngClass]="customer.tag == t.id ? 'selected' : ''" *ngFor="let t of tags" (click)="selectTag(t, customer)">
        {{ t.name }}
      </div>
      <div *ngIf="saved === customer">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <div *ngIf="saving === customer">
        <i class="fa fa-spinner" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-6" *ngIf="customer != expandCustomer && customer.latest_sms">
      <div class="message">
        <i *ngIf="customer.latest_sms.type === 'incoming'" class="fa fa-arrow-down"></i>
        <i *ngIf="customer.latest_sms.type === 'outgoing'" class="fa fa-arrow-up"></i>
        <i>{{ customer.latest_sms.message }}</i>
      </div>
      <div class="status" style="font-weight: bold; font-size: small">
        {{ customer.latest_sms.status }}
        {{ customer.latest_sms.created | date: "short" }}
      </div>
    </div>
  </div>
  <div *ngIf="customer === expandCustomer">
    <div *ngIf="customer.all_sms == null">
      <i class="fa fa-spinner" aria-hidden="true"></i>
    </div>
    <div class="row" *ngFor="let sms of customer.all_sms" style="margin-top: 10px">
      <div class="col-6" [ngClass]="sms.type === 'incoming' ? 'offset-6' : null">
        <div class="message">
          <i *ngIf="sms.type === 'incoming'" class="fa fa-arrow-down"></i>
          <i *ngIf="sms.type === 'outgoing'" class="fa fa-arrow-up"></i>
          <i>{{ sms.message }}</i>
        </div>
        <div class="status" style="font-weight: bold; font-size: small">
          {{ sms.status }} {{ sms.created | date: "short" }}
        </div>
      </div>
    </div>
    <div>
      <form [formGroup]="sendMessage" (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col-10">

            <mat-form-field style="width: 100%">
              <input type="text" matInput formControlName="message" [matAutocomplete]="auto" placeholder="Reply">
            </mat-form-field>

            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let message of filteredOptions | async" [value]="message">{{message}}</mat-option>
            </mat-autocomplete>
          </div>
          <input type="hidden" formControlName="customer" value="{{customer.id}}" [ngModel]="customer.id" />

          <div class="col-2">
            <button [disabled]="!sendMessage.valid || sending" mat-raised-button color="primary" type="submit">Submit</button>
            <i *ngIf="sending" class="fa fa-spinner" aria-hidden="true"></i>

          </div>
        </div>

      </form>


    </div>
  </div>

  <hr />
</div>