.tag {
    padding: 3px;
    background: rgb(232, 220, 220);
    color: black;
    border: black 1px solid;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 1px;
    margin-left: 10px;
    cursor: pointer;
    float: left;
}

.selected {
    background: rgb(132, 255, 120);
}

.tabs {
    text-align: center;
    font-size: 19px;
    text-decoration: underline;
    margin-bottom: 20px;
    cursor: pointer;
}

.tabs-selected {
    font-weight: bold;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(200, 200, 200, 0.3);
    z-index: 3;
}